@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
// font-family: 'Barlow', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&display=swap');
// font-family: 'Noto Sans KR', sans-serif;

$buttonColor: #0095F6;
$idGray : #373737;
$textGray : #737373;
$footerColor : #DCDCDC;

.follwerContainer {
    display: flex;
    position: relative;
    flex-direction: column;

    margin-top: 2rem;

    width: 17.8rem;
    height: 28.3rem;

}

.myProfile {
    display: flex;
    flex-direction: row;

    img {
        width: 2.8rem;
        height: 2.8rem;

        margin-right: 0.6rem;

        border-radius: 50%;
    }

    .myInfo {
        display: flex;
        flex-direction: column;

        margin-top: 0.5rem;

        .myId {
            font-size: 0.875rem;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
            color: $idGray;
        }

        .myName {
            font-size: 0.81rem;
            font-family: 'Noto Sans KR', sans-serif;
            color: $textGray;
        }
    }

    .changeButton {
        position: absolute;
        right: 0;
        margin-top: 0.875rem;

        font-size: 0.7rem;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
        color: $buttonColor;
    }
}

.followerListHeader {
    margin: 1.5rem 0 2.5rem 0;

    .forYou {
        position: absolute;
        left: 0;

        font-size: 0.85rem;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
        color: $textGray;
    }

    .allView {
        position: absolute;
        right: 0;

        font-size: 0.85rem;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
        color: #252525;
    }
}

.footer {
    span {
        font-size: 0.7rem;
        font-weight: 600;
        font-family: 'Barlow', sans-serif;
        color: $footerColor;
    }
}

@media screen and (max-width: 1230px) {
    .follwerContainer {
        display: none;
    }

}