$navBackground: #ffffff;
$lineGray: #DEDDDD;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
    position: relative;
}

.navBar {
    position: sticky;
    top: 0;
    max-width: 16rem;
    height: 100vh;

    margin-left: 2rem;
}

.navBarBackground {
    display: block;
    position: relative;

    width: 16rem;
    height: 100vh;

    background-color: $navBackground;

    border-width: 0 1px 0 0;
    border-right: $lineGray;
    border-style: solid;

    transition: width 0.3s linear;
}

.back { // border 얇게 보이기 위한 블록
    display: block;
    position: absolute;

    width: 15.95rem;
    height: 100vh;

    background-color: $navBackground;
}

.navBarContents {
    display: flex;
    flex-direction: column;
}

.miniNavBar {
    display: none;
}

.navBarMenu {
    li {
        margin-bottom: 3vh;
    }

    img {
        width: 1.8rem;
        height: 1.8rem;
    }

    span {
        position: relative;
        left: 0.5rem;
        bottom: 0.5rem;

        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;

    }

    .home {
        font-weight: bold;
    }
    
}

.navBarEtc {
    li {
        margin-bottom: 3vh;
    }

    img {
        width: 1.8rem;
        height: 1.8rem;
    }

    span {
        position: relative;
        left: 0.5rem;
        bottom: 0.5rem;

        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;

    }

    margin: 10vh 0 4vh 0;
}

// 태블릿용
@media screen and (max-width: 1200px){
    .navBarBackground {
        width: 4rem;
        height: 100vh;
    }
    
    .back { // border 얇게 보이기 위한 블록
        width: 3.95rem;
        height: 100vh;
    }

    .navBarMenu {
        span {
            font-size: 0;
        }
    }

    .navBarEtc {
        span {
            font-size: 0;
        }
    }
}

// 핸드폰용
@media screen and (max-width: 640px){
    .navBar {
        position: fixed;
        width: 100%;
        max-width: none;
        height: 4.5rem;
        margin-left: 0;
        z-index: 4;
    }

    .navBarBackground {
        width: 100%;
        height: 4.5rem;
        
        border-width: 0 0 1px 0;
        border-color: $lineGray;

        transition: none;
    }

    .back {
        width: 0;
        height: 0;
    }

    .navBarMenu {
        display: none;
    }

    .navBarEtc {
        display: none;
    }

    .miniNavBar {
        display: flex;
        position: absolute;

        .searchBox {
            display: block;
            margin-top: 2vh;
            margin-left: 11rem;
            width: 15rem;
            height: 2.5rem;
            border-radius: 0.6rem;

            background-color: #EDEDED;

            .miniNavBarSearchIcon {
                margin-top: 0.5rem;
                margin-left: 1rem;
                
                color: #9D9D9D;
            }

            span {
                position: relative;
                bottom: 0.3rem;
                left: 0.7rem;

                font-size: 1.1rem;
                font-family: 'Noto Sans KR', sans-serif;
                color: #9D9D9D;
            }

        }

        .miniNavBarFavoriteIcon {
            width: 2rem;
            height: 2rem;

            margin-top: 2.6vh;
            margin-left: 1rem;
        }
    }
}
