@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
// font-family: 'Barlow', sans-serif;

.story {
    display: flex;
    flex-direction: row;
 
    width: 31rem;
    height: 5.7rem;

    padding-top: 2rem;
}

.profileContainer {
    position: relative;

    width: 4.375rem;
    height: 4.375rem;

    img {
        position: absolute;
        // 요소를 중앙에 배치하기 위함
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 100%;
        z-index: 2;
    }

    .imgBack {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: #ffffff;
        z-index: 1;
    }

    .imgStroke {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 100%;
        background: radial-gradient(89.2% 89.2% at 17.76% 76.32%, #FFE17D 0%, #FFCD69 30.89%, #FA9137 43.5%, #EB4141 58.77%, #C33CBE 99.5%);
        z-index: 0;
    }
}

.userName {
    span {
        font-size: 0.8rem;
        font-family: 'Barlow', sans-serif;
    }
}

@media screen and (max-width: 600px){
    .story{
        display: flex;
        position: relative;
    
        width: 31rem;
        height: 5.7rem;
    
        padding-top: 6rem;
        left: 7rem;
    }
}
