$navBackground: #ffffff;
$lineGray: #DEDDDD;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
    position: relative;
}

.navBar {
    position: fixed;
    width: 16rem;
    height: 100vh;
    left: 0;

    margin-left: 2rem;
}

.navBarBackground {
    display: block;
    position: relative;

    width: 16rem;
    height: 100vh;

    background-color: $navBackground;

    border-width: 0 1px 0 0;
    border-right: $lineGray;
    border-style: solid;
}

.back { // border 얇게 보이기 위한 블록
    display: block;
    position: absolute;

    width: 15.95rem;
    height: 100vh;

    background-color: $navBackground;
}

.navBarContents {
    display: flex;
    flex-direction: column;
}

.navBarLogoImg {
    width: 7.5rem;
    height: 4.2rem;

    margin: 2vh 0 3vh 0;
}

.navBarMenu {
    li {
        margin-bottom: 3vh;
    }

    img {
        width: 1.8rem;
        height: 1.8rem;
    }

    span {
        position: relative;
        left: 0.5rem;
        bottom: 0.5rem;

        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;

    }

    .home {
        font-weight: bold;
    }
    
}

.navBarEtc {
    li {
        margin-bottom: 3vh;
    }

    img {
        width: 1.8rem;
        height: 1.8rem;
    }

    span {
        position: relative;
        left: 0.5rem;
        bottom: 0.5rem;

        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;

    }

    margin: 10vh 0 4vh 0;
}