#wrapperPost {
    width: 100%;

    display: flex;
    flex-direction: column;

}

.post {
    width: 100%;
    
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    
}
/* ----------------------------------------------- */

#sectionHeader {
    padding: 10px;
    margin-top: 20vh;
    

    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

#headerProfile {
    display: flex;
    align-items: center;

    font-size: .8rem;
}

#headerProfileUser {
    display: flex;
    align-items: center;

    margin-right: 10px;

    font-weight: bold;
}

#headerProfileUser img {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    margin-right: 5px;
}

#headerProfileDate {
    color: gray;
}

/* ------------------------------------------ */

#headerSetting {
    display: flex;
    align-items: center;
}

/* ------------------------------------------- */

#sectionImage {
    width: 100%;
    height: 100%;

    aspect-ratio: 1;

    overflow: hidden;

    position: relative;
}

#sectionImage ul {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    list-style: none;
}

#sectionImage ul li {
    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    transition-delay: 1s;

    padding: 0;
    margin: 0;
}

#sectionImage ul li img {
    width: 100%;
    height: 100%;

    object-fit: fill;
}

#sectionImage input[type="radio"] {
    display: none;
}

#sectionImageArrow {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 20px;

    position: absolute;

    top: 0;
    left: 50%;

    transform: translate(-50%);

    display: flex;

    justify-content: space-between;
    align-items: center;

    z-index: 5;
}

#leftArrow {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(180deg);

    cursor: pointer;
}

#rightArrow {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


#sectionImageBullets {
    position: absolute;

    left: 50%;
    bottom: 20px;

    transform: translateX(-50%);

    z-index: 10;
}

#sectionImageBullets label {
    width: 15px;
    height: 15px;

    display: inline-block;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}


/* ----------------------------------------- */

#sectionFooter div:nth-child(4) {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

#sectionFooterBtn {
    padding: 10px 5px;

    display: flex;

    justify-content: space-between;
    align-items: center;

}

#sectionFooterLike {
    padding: 0 5px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    
    row-gap: 10px;

    font-size: .8rem;
}

#sectionFooterLike div {
    display: flex;

    justify-content: start;
    align-items: center;

    cursor: pointer;
}

#sectionFooterLike img {
    width: 20px;

    margin: 0 5px 0 0;

    border-radius: 50%;
}

#sectionFooterLike b {
    font-weight: bold;
}

#sectionFooterImgLike {
    cursor: pointer;
}


.view {
    border: 2px solid transparent;
    box-sizing: border-box;
    
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(45deg, #FFE17D 0%, #FFCD69 30.89%, #FA9137 43.5%, #EB4141 58.77%, #C33CBE 99.5%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

i {
    margin-left: 5px;
    color: #3f729b;
}

g {
    color: gray;
}