/* global */
body {
    margin: 0;
}

/* ----------------------------------------------- */
#sectionHeader {
    padding: 10px;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

#headerProfile {
    display: flex;
    align-items: center;

    font-size: .8rem;
}

#headerProfileUser {
    display: flex;
    align-items: center;

    margin-right: 10px;

    font-weight: bold;
}

#headerProfileUser img {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    margin-right: 5px;
}

#headerProfileDate {
    color: gray;
}

/* ------------------------------------------ */

#headerSetting {
    display: flex;
    align-items: center;
}

/* ------------------------------------------- */

#sectionImage {
    width: 100%;
    height: 100%;

    aspect-ratio: 1;

    overflow: hidden;

    position: relative;
}

#sectionImage ul {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    list-style: none;
}

#sectionImage ul li {
    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    transition-delay: 1s;

    padding: 0;
    margin: 0;
}

#sectionImage ul li img {
    width: 100%;
    height: 100%;

    object-fit: fill;
}

#sectionImage input[type="radio"] {
    display: none;
}

#sectionImageArrow {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 0 20px;

    position: absolute;

    top: 0;
    left: 50%;

    transform: translate(-50%);

    display: flex;

    justify-content: space-between;
    align-items: center;

    z-index: 5;
}

#leftArrow {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(180deg);

    cursor: pointer;
}

#rightArrow {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


#sectionImageBullets {
    position: absolute;

    left: 50%;
    bottom: 20px;

    transform: translateX(-50%);

    z-index: 10;
}

#sectionImageBullets label {
    width: 20px;
    height: 20px;

    display: inline-block;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}


/* ----------------------------------------- */




/* -----------------------event------------------- */
/* 체크된 이미지로 변경 */
.changeImg {
    left: 0;
    transition: 0.5s;

    z-index: 1;
}


/* 체크된 bullet 색상
#sectionImage input[type="radio"]:nth-child(1):checked~#sectionImageBullets>label:nth-child(1) {
    background-color: #fff;
}

#sectionImage input[type="radio"]:nth-child(2):checked~#sectionImageBullets>label:nth-child(2) {
    background-color: #fff;
}

#sectionImage input[type="radio"]:nth-child(3):checked~#sectionImageBullets>label:nth-child(3) {
    background-color: #fff;
} */

.view {
    border: 2px solid red;
    box-sizing: border-box;
}